.sections {
    max-width: 90%;
    margin: auto;
}

.section-title {
    padding: 1rem 0rem 0rem 1rem;
}

.exercise {
    display: grid;
    border-radius: 3rem;
    min-height: 8rem;
    margin: 1rem 0;
    background-color: hsla(101, 34%, 52%, 0.2);
}

@media (min-width: 576px) {
    .exercise {
        grid-template-columns: 1fr 4fr;
    }
}

.center {
    display: flex;
    align-items:center;
    justify-content: center;
}

.exercise-title {
    font-size: 1.5rem;
    margin: auto;
}

.exercise-description {
    margin: 0;
    text-align: left;
    padding: 0px 10px;
}

.button {
    margin: auto;
    background-color:hsl(101, 34%, 52%);
    background:linear-gradient(to bottom, hsl(101, 34%, 52%) 5%, hsl(101, 38%, 47%) 100%);
    color:black;
    font-family:Arial;
	font-size:16px;
	font-weight:bold;
    text-decoration:none;
	text-shadow:2px 2px 5px hsla(102, 41%, 66%, 0.4);
    border-radius:12px;
    border: 1px solid hsla(102, 41%, 66%, 0.4);
	box-shadow: 3px 5px 6px 1px hsla(102, 41%, 66%, 0.4);
	cursor:pointer;
}

.solution-str {
    margin: auto;
    text-align: left;
    font-style: italic;
    padding: 0px 10px;
}

@media (max-width: 575.98px) {
    .exercise-title {
        padding: 15px 0px 0px 0px;
    }

    .exercise-description {
        padding: 15px 15px 0px 15px;
    }

    .solution-button-div {
        padding: 15px 0px 0px 0px;
    }

    .solution-str {
        padding: 15px 15px 15px 15px;
    }
}